$background-color : #121212;
$title-color      : #fff;
$subtitle-color   : #8c8c8c;

$primary-color    :  #0054e9;
$secondary-color  :  #0163aa;
$tertiary-color   :  #6030ff;
$secondary-color  :  #2dd55b;
$warning-color    :  #ffc409;
$danger-color     :  #c5000f;
$dark-color       :  #2f2f2f;
$medium-color     :  #5f5f5f;
$light-color      :  #f6f8fc;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//container 

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    margin: 0 auto;
}

.top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
}

.top div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #0054e9;
}

.top div h1 {
    font-weight: bold;
    font-size: 22px;
}

.top div ion-icon {
    font-size: 30px;
}


.top #justify {
    text-align: justify;
}

// Options section 

.optionsSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 100%;
    height: auto;
    max-width: 400px;
}

.optionsSection .options {
    margin-bottom: 30px;
}

.optionsSection .options p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #959595;
}

.optionsSection .options .buttons {
    display: flex;
    flex-direction: column;

    border: 1px solid #d5d5d5;
    background-color: #f5f5f5;

    border-radius: 1.5rem;
}

.optionsSection .options .buttons hr {
    border: 0;
    height: 1px;
    background: #d5d5d5;
    margin: 0 20px;
}

.optionsSection .options .buttons button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 1.5rem;

    width: 100%;
    height: 50px;

    color: black;
    background: transparent;
}

.optionsSection .options .buttons div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.optionsSection .options .buttons div #insideIcon {
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;

    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.optionsSection .options .buttons div #uid {
    font-size: 10px;
}

.optionsSection .options .buttons button #outIcon {
    font-size: 20px;
    margin-right: 20px;
}

.termsModal {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    margin: 25px;
  }

  .termsModal h3 {
    font-size: 1.5em;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
  }

  .termsModal p {
    font-size: 1em;
    margin: 10px 0;
  }

  .termsModal strong {
    color: #34495e;
  }

  .termsModal ul {
    margin: 10px 0;
    padding-left: 20px;
  }

  .termsModal ul li {
    margin: 5px 0;
  }