<ion-content [fullscreen]="true">

  <div id="container">
    
    <section class="loginForm">
      <strong>Inicia sesión</strong>
      <form (submit)="loginForm()">
        <ion-input 
          label="Nombre de usuario" 
          label-placement="stacked" 
          color="primary"
          fill="outline"
          type="text"

          color="light"

          name="username"
          [(ngModel)]="username"
        >
        </ion-input>
        
        <ion-input 
          label="Contraseña" 
          label-placement="floating" 
          fill="outline"
          type="password"
          
          color="light"

          name="password"
          [(ngModel)]="password"
        >
          <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
        </ion-input>
        
        <ion-button 
          type="submit"
          expand="block"
          color="light"
        >
        Iniciar sesión
        </ion-button>
      </form>
    </section>
    
  </div>

  <div id="version">
    <p>Inventory v1.0.0</p>
  </div>

</ion-content>
