$background-color : #121212;
$title-color      : #fff;
$subtitle-color   : #8c8c8c;

$primary-color    :  #0054e9;
$secondary-color  :  #0163aa;
$tertiary-color   :  #6030ff;
$secondary-color  :  #2dd55b;
$warning-color    :  #ffc409;
$danger-color     :  #c5000f;
$dark-color       :  #2f2f2f;
$medium-color     :  #5f5f5f;
$light-color      :  #f6f8fc;

    // Content

    * {
        user-select: none;
    }

    ion-content {
        --background: $background-color;
        overflow: hidden;
    }

    // Contenedor principal

    body {
        background-color: $background-color;
    }

    #containerLog {
        text-align: center;
    }

    // Logo y hero de la aplicacion 

    .hero {
        background-color: $background-color;
        padding: 20px;

        width: 100%;
        height: 30vh;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 0;

        gap: 20px;
    }

    .hero img {
        width: 100px;
        height: 100px;
        margin-bottom: 30px;

        filter: drop-shadow(0 0 50px rgba(129, 255, 236, 0.895));
    }

    .hero h1 {
        font-size: 34px;
        font-weight: 400;
        letter-spacing: 4px;
        margin-bottom: 50px;
        color: #b2d7fd;

        text-shadow: 0 0 50px rgba(129, 255, 236, 0.895);
    }

    // Formulario de inicio de sesión

    .loginForm {
        background-color: #ffffff;
        border-radius: 2rem 2rem 0 0;
        padding: 20px;

        width: 100%;
        height: 75vh;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        transition: all 0.25s ease;
    }

    .loginForm strong {
        font-size: 34px;
        display: block;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .loginForm ion-input {
        text-align: start;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        margin-bottom: 30px;

        --highlight-color-focused: #8da9c6;
        --highlight-color-valid: #8da9c6;
    }

    .loginForm #haveAccount {
        display: block;
        margin-top: 30px;
        color: $primary-color;
        cursor: pointer;
    }

    .loginForm ion-button {
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
    }

    // Register form

    .registerForm {
        background-color: #ffffff;
        border-radius: 2rem 2rem 0 0;

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        transform: translateY(100%);

        display: none;
        justify-content: center;
        align-items: center;

        transition: all 0.25s ease;
    }

    .registerForm form {
        padding: 20px;
        width: 100%;
        max-width: 400px;
    }

    .registerForm strong {
        font-size: 34px;
        display: block;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .registerForm ion-input {
        text-align: start;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        margin-bottom: 30px;

        --highlight-color-focused: #8da9c6;
        --highlight-color-valid: #8da9c6;
    }

    .registerForm #haveAccount {
        display: block;
        margin-top: 30px;
        color: $primary-color;
        cursor: pointer;
    }

    .registerForm div {
        max-width: 400px;
        margin: 0 auto;
        padding: 10px;
    }

    .registerForm ion-button {
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
    }

    // Marca de la aplicación, version y etc

    #version {
        text-align: center;
        color: $subtitle-color;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 3;
    }