<ion-content [fullscreen]="true">

  <div class="search">
    <h1>Muebles</h1>
    <ion-searchbar 
      mode="ios"
      placeholder="Buscar"
      [(ngModel)]="searchQuery"
      (ionInput)="filterFurnitures()"
      maxlength="50"
      animated="true">
    </ion-searchbar>
  </div>

  <div id="separator">
  </div>

  <div id="filteredFurnitures" *ngIf="filteredFurnitures.length === 0 && searchQuery">
    <p>No se han encontrado muebles con el nombre de: "{{ searchQuery }}"</p>
  </div>

  <div id="nonFurnitures" *ngIf="furnitures.length === 0 && !searchQuery">
    <p>No tienes ningun mueble agregado.</p>
  </div>

  <section class="cards">

    <div class="card" *ngFor="let furniture of filteredFurnitures">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card mode="ios">
              <img [src]="furniture.frontImg" alt="">
              <ion-card-header>
                <ion-card-title>
                  <h1>{{ furniture.name }}</h1>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>

                <p *ngIf="furniture.description.length > 0" id="description">{{ furniture.description }}</p>
                <p *ngIf="furniture.description.length === 0" id="description">No existe una descripción para este mueble, agrega una.</p>

                <div class="buttons">
                  <button (click)="deleteFurniture(furniture)">
                    <p>Eliminar</p>
                    <ion-icon name="trash"></ion-icon>
                  </button>
                  <button (click)="viewFurniture(furniture)">
                    <p>Visualizar</p>
                    <ion-icon name="eye"></ion-icon>
                  </button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div id="separator2">
    </div>
  
  </section>

  <section class="fabButton">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="addFurniture">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </section>

  <ion-modal trigger="addFurniture" mode="ios">
    <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar mueble</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="dismissModal()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="addFurniture()">Agregar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div class="addFurniture">

        <section class="basicDetails">
          <h1>Detalles basicos</h1>

          <div>
            <ion-input 
              mode="md"
              label="Nombre"
              label-placement="stacked" 
              fill="outline" 
              (ionInput)="validateInput($event, 'input')"
              name="name"
              [(ngModel)]="name">
            </ion-input>

            <ion-textarea 
              mode="md"
              label="Descripción"
              label-placement="stacked" 
              fill="outline"
              [autoGrow]="true"
              [counter]="true"
              maxlength="500"
              (ionInput)="validateInput($event, 'textarea')"
              name="description"
              [(ngModel)]="description">
            </ion-textarea>
          </div>

        </section>

        <section class="photo">
          <h1>Fotografías</h1>
        
          <div class="photoContainer">
            <div class="photoCard" *ngFor="let photo of photos; let i = index">
              <img [src]="photo" alt="Foto" class="photoImage">
              <button class="deleteButton" (click)="removePhoto(i)">
                <ion-icon name="trash-bin"></ion-icon>
              </button>
            </div>
        
            <input 
              type="file" 
              accept="image/*" 
              (change)="addPhoto($event)" 
              id="fileInput" 
              class="fileInput"
            >
            <label for="fileInput" class="addPhotoButton">
              <ion-icon name="add-circle"></ion-icon>
            </label>
          </div>
        </section>        

        <section class="avancedDetails">
          <h1>Detalles avanzados</h1>

          <div 
            class="divisor"
            [ngStyle]="{
              'padding': costs.length > 0 ? '20px' : '0',
              'border-radius': costs.length > 0 ? '15px' : '0',
              'background-color': costs.length > 0 ? '#fff' : 'transparent'
              }"
          >
            <h2 *ngIf="costs.length > 0">Costos</h2>
            <div class="item" *ngFor="let cost of costs; let i = index ">
              <ion-input 
                mode="md"
                label="Nombre"
                label-placement="stacked" 
                fill="solid"
                type="text"
                [(ngModel)]="cost.name">
              </ion-input>

              <ion-input 
                mode="md"
                label-placement="stacked" 
                label="Valor"
                fill="solid"
                type="number"
                [(ngModel)]="cost.value">
              </ion-input>

              <button class="removeButton" (click)="removeCost(i)">
                <ion-icon name="trash-bin"></ion-icon>
              </button>
            </div>

            <button 
              class="customButton" 
              (click)="addCost()" 
              [ngStyle]="{
                'background-color': costs.length > 0 ? '#4CAF50' : '#2772b0'
                }"
            >
              <p *ngIf="costs.length === 0">Agregar costos</p>
              <p *ngIf="costs.length > 0">Agregar item</p>
            </button>
            
          </div>

            <div 
            class="divisor"
            [ngStyle]="{
              'padding': cuts.length > 0 ? '20px' : '0',
              'border-radius': cuts.length > 0 ? '15px' : '0',
              'background-color': cuts.length > 0 ? '#fff' : 'transparent'
              }"
          >
            <h2 *ngIf="cuts.length > 0">Cortes</h2>
            <div class="item" *ngFor="let cut of cuts; let i = index ">
              <ion-input 
                mode="md"
                label="Medida"
                label-placement="stacked" 
                fill="solid"
                type="text"
                [(ngModel)]="cut.extent">
              </ion-input>

              <ion-input 
                mode="md"
                label-placement="stacked" 
                label="Nombre"
                fill="solid"
                type="text"
                [(ngModel)]="cut.name">
              </ion-input>

              <button class="removeButton" (click)="removeCut(i)">
                <ion-icon name="trash-bin"></ion-icon>
              </button>
            </div>

            <button 
              class="customButton" 
              (click)="addCut()" 
              [ngStyle]="{
                'background-color': cuts.length > 0 ? '#4CAF50' : '#2772b0'
                }"
            >
              <p *ngIf="cuts.length === 0">Agregar cortes</p>
              <p *ngIf="cuts.length > 0">Agregar item</p>
            </button>
          </div>

          <div 
            class="divisor"
            [ngStyle]="{
              'padding': accessories.length > 0 ? '20px' : '0',
              'border-radius': accessories.length > 0 ? '15px' : '0',
              'background-color': accessories.length > 0 ? '#fff' : 'transparent',
              }"
          >
            <h2 *ngIf="accessories.length > 0">Accesorios</h2>
            <div class="item" *ngFor="let accesory of accessories; let i = index ">
              <ion-input 
                mode="md"
                label="Nombre"
                label-placement="stacked" 
                fill="solid"
                type="text"
                [(ngModel)]="accesory.name">
              </ion-input>

              <ion-input 
                mode="md"
                label-placement="stacked" 
                label="Cantidad"
                fill="solid"
                type="number"
                [(ngModel)]="accesory.quantity">
              </ion-input>

              <button class="removeButton" (click)="removeAccessory(i)">
                <ion-icon name="trash-bin"></ion-icon>
              </button>
            </div>

            <button 
              class="customButton" 
              (click)="addAccessory()" 
              [ngStyle]="{
                'background-color': accessories.length > 0 ? '#4CAF50' : '#2772b0'
                }"
            >
              <p *ngIf="accessories.length === 0">Agregar accesorios</p>
              <p *ngIf="accessories.length > 0">Agregar item</p>
            </button>
          </div>

          <ion-loading
            #loading
            message="Subiendo las fotos y guardando el mueble..."
            spinner="crescent">
          </ion-loading>
        
        </section>

      </div>

    </ion-content>
    </ng-template>
  </ion-modal>

  <div id="version">
    <p></p>
  </div>

</ion-content>