
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-searchbar {
    width: 100%;
    padding: 0 14px;
    margin: 0 auto;
    max-width: 428px;
}

#information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 365px;
    color: #b1b1b1;
    z-index: 9999;
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 15px;
}

#information p {
    margin: 10px 0;
}

#information button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #fff;
}

#notInternet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 365px;
    color: #ff4d4d;
    opacity: 0.7;
    gap: 20px;
    text-wrap: pretty;
}

#notInternet ion-icon{
    font-size: 1.5rem;
}

#notFounds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #b1b1b1;   
    width: 80%;
    max-width: 365px;
}

#nonFurnitures {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #b1b1b1;
}

#founds {
    margin-top: 20px;
    text-align: center;
    color: #b1b1b1;   
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px; /* Reduced gap between cards */
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 790px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.cards .card {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}
.cards .card img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.cards .card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards .card h1 {
    font-size: 1.5rem;
    margin: 20px;
}

.cards .card #description {
    font-size: 1rem;
    margin: 0 20px 20px 20px;
    overflow: hidden;
}

.cards .card div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.cards .card button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #fff;
}

.cards .card button:nth-child(1) {
    background-color: #ff4d4d;
}

.cards .card button:nth-child(2) {
    background-color: #0054e9;
}

.cards .card button:active {
    transform: scale(0.9);
}

.cards .card ion-card {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// separator 2

#separator2 {
    width: 100%;
    margin-top: 70px;
}

// add furniture style

.fabButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.title ion-icon {
    font-size: 1.5rem;
}

.addFurniture {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;
}

.addFurniture .basicDetails {
    background-color: #f9f9f9;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.addFurniture .basicDetails .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addFurniture .basicDetails ion-input, ion-textarea {
    --highlight-color-focused: #8da9c6;
    --highlight-color-valid: #8da9c6;
}

.addFurniture .photo {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

.addFurniture .photoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.addFurniture .photoCard {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.addFurniture .photoImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.addFurniture .deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addFurniture .deleteButton:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.addFurniture .deleteButton ion-icon {
    color: #ff0000;
    font-size: 1.2rem;
}

.addFurniture .fileInput {
    display: none;
}
  
.addFurniture .addPhotoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.addFurniture .addPhotoButton:hover {
    background-color: #f0f8ff;
    color: #0056b3;
}

.addFurniture .avancedDetails {
    background-color: #f9f9f9;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addFurniture .avancedDetails hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}

.addFurniture .avancedDetails h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.addFurniture .avancedDetails .divisor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addFurniture .avancedDetails .divisor .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.addFurniture .avancedDetails .divisor .item ion-input {
    --highlight-color-focused: #8da9c6;
    --highlight-color-valid: #8da9c6;
}

.addFurniture .avancedDetails .divisor .item ion-input:nth-child(1) {
    width: 100%;
}

.addFurniture .avancedDetails .divisor .item ion-input:nth-child(2) {
    width: 80%;
}

.addFurniture .avancedDetails .divisor .item .removeButton {
    color: #ff4d4d;
    font-size: 1.5rem;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.addFurniture .avancedDetails .divisor .item .removeButton:active {
    transform: scale(0.9);
}

.addFurniture .avancedDetails .divisor .customButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2772b0;
    color: #fff;
    border-radius: 15px;
    padding: 15px 30px;
}

.addFurniture .avancedDetails .divisor .customButton button {
    display: flex;
    justify-content: center;
    align-items: center;
}